
@{
    ViewData["Title"] = "Confirm";
}
<div style="height:500px;" class="d-flex justify-content-center align-items-center">
    <h3>@ViewBag.Message <a asp-action="Index" asp-controller="Home">Anasayfaya Git.</a></h3>
</div>


