@model UserVM

@{
    ViewData["Title"] = "Login";
}

<div class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Oturum Aç</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form asp-controller="User" asp-action="Login" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" asp-for="Email" placeholder="name@example.com">
                        <label>Mail Adresi</label>
                    </div>
                    <div class="checkbox my-3">
                        <label>
                            <input asp-for="IsRemember" type="checkbox" value="true"> Beni Hatırla
                        </label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Giriş Yap</button>
                    <div class="my-1">
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-warning" role="alert">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
                    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
                        Login with Twitter
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
                        Login with Facebook
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
                        Login with GitHub
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

