
@{
    ViewData["Title"] = "RegisterConfirm";
}

<div class="d-flex justify-content-center align-items-center" style="height:500px;">
    <h3>
        Hesabınız başarıyla doğrulandı. Giriş yapmak için <a asp-action="Login" asp-controller="User">tıklayın.</a>
    </h3>
</div>
